<footer class="flex justify-center items-center gap-2 absolute bottom-4 w-full">
  <div>
    <p class="text-sm max-sm:text-xs">Creado por: <span class="font-semibold">Jorge Garcia R.</span></p>
  </div>
  <div>
    <a class="bg-dark text-light-100" href="https://github.com/GRJorge/">Github</a>
    <a class="bg-yellow" href="https://github.com/GRJorge/catalogs">Code</a>
  </div>
</footer>
<style>
  a {
    @apply font-semibold rounded-full px-4 py-1 hover:saturate-200 max-sm:text-sm;
  }
</style>