<header class="flex justify-between items-center gap-4">
  <h1 class="font-bold text-2xl">Catalogos</h1>
  <search class="flex gap-2 w-full">
    <input
      class="px-4 py-2 border-1 flex-grow border-dark bg-transparent rounded-full focus:outline-dark focus:outline-1 focus:outline"
      type="text"
      placeholder="¿Que buscas? (Bujias, empaques, rotulas)"
      id="searchInput"
    />
    <button
      class="bg-green px-4 rounded-full hover:outline hover:outline-1 hover:outline-dark active:saturate-150 focus:outline focus:outline-2 focus:outline-dark"
      >Buscar</button
    >
  </search>
</header>
<script>
  const catalogsSection = document.querySelector("#catalogs");
  const searchInput: HTMLInputElement = document.querySelector("#searchInput")!;

  searchInput!.addEventListener("input", (event: Event) => {
    catalogsSection!.querySelectorAll("article").forEach((catalog) => {
      catalog.style.display = "none";
      catalog
        .querySelector("main")!
        .querySelectorAll("span")
        .forEach((autopart) => {
          if (
            autopart.innerHTML
              .toString()
              .toLowerCase()
              .includes(searchInput!.value.toLowerCase())
          ) {
            catalog.style.display = "flex";
          }
        });
    });
  });
</script>
